#container{
    position: relative;
    width: 800px;
    height: 600px;
    background-color: aquamarine;
}
#moveDiv{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    top: 10px;
    left: 10px;
}
#row{
    display: flex;
    flex-direction: row;

}
button{
    height: 20px;
}
