#container{
    position: relative;
    width: 800px;
    height: 610px;
    background-color: aquamarine;
    margin: 0px;
    border: 1px black solid;
}
#moveDiv{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    top: 10px;
    left: 10px;
}
#row{
    display: flex;
    flex-direction: row;

}
button{
    height: 20px;
}

#hitDiv{
    height: 20px;
    width: 200px;    
    top: 590px;
    background-color: red;
    position: relative;
    text-align: center;
    color: white;
}
