#container{
    position: relative;
    width: 800px;
    height: 620px;
    background-color: aquamarine;
    margin: 0px;
    border: 1px black solid;
    z-index: -3;
}
#moveDiv{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    top: 10px;
    left: 10px;
}
#row{
    display: flex;
    flex-direction: row;

}
button{
    height: 20px;
}

#hitDiv{
    height: 20px;
    width: 200px;    
    top: 600px;
    background-color: red;
    position: absolute;
    text-align: center;
    color: white;
    z-index: -1;

}

#hitBox{
    position: relative;
    background-color: darkgreen;
    width: 800px;
    height: 20px;
    top: 600px;
z-index: -2;
}
